.ct-button {
    height: 40px;
    width: 100%;
    background-color: var(--ct-color-bg-tertiary);
    color: var(--ct-color-font-quarternary);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}